[Unit]
Description=OpenFortiVPN Connection (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/lib/omarchy/openfortivpn-helper connect %i config
ExecStop=/usr/local/lib/omarchy/openfortivpn-helper disconnect
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
