[Unit]
Description=OpenFortiVPN Connection (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/openfortivpn -c /home/%i/.config/openfortivpn/config
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
