[Unit]
Description=OpenFortiVPN Connection (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/openfortivpn -c /home/%i/.config/openfortivpn/config
ExecStopPost=/bin/bash -c 'rm -f /tmp/omarchy-openfortivpn-config.pid'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
